{% if not(title) %}
{% set title = "Lorem ipsum" %}
{% endif %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ShopAndMall">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link rel="icon" href="assets/img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/favicon.png">

    <!-- build:css -->
    styles.css
    <!-- endbuild -->

</head>

<body>
