$width-xl: rem(1200px);
$width-lg: rem(992px);
$width-md: rem(768px);
$width-sm: rem(576px);

$width-max: rem(1281px);

$bg-green: #76b220;
// $font-page:#303030;

// $bg-gray: #f7f8f8;
// $light-gray: #e7e7e7;

// $light-blue: #2dc9fa;
// $middle-blue: #2d80fa;