.slider {
  position: relative;

  overflow: hidden;

  margin: 0 auto;
  margin-bottom: rem(59px);

  max-width: rem(990px);

  @media (max-width: $width-md) {
    margin-bottom: rem(30px);
  }
}

.slider__item {
  padding: rem(50px);
  margin: rem(50px);
  margin-bottom: rem(30px);

  max-width: rem(888px);
  min-height: rem(476px);

  box-shadow: 0 rem(5.5px) rem(40px) rgba(0, 0, 0, 0.25);
  border-radius: rem(51px);
@media (max-width: $width-sm) {
  padding: rem(16px) rem(23px) rem(17px) rem(10px);
  margin: 0 auto;
  margin-top: rem(15px);
  margin-left: rem(-15px);
  margin-right: rem(-15px);

  min-height: rem(258px);
  max-width: rem(288px);

  box-shadow: 0 rem(1.8px) rem(13px) rgba(0, 0, 0, 0.25);
  border-radius: rem(16.5px);
  }
}

.slider__row {
  display: flex;

  margin-bottom: rem(39px);
  @media (max-width: $width-sm) {
    margin-bottom: rem(14px);
  }
}

.slider__img {
  display: block;
  box-sizing: border-box;
  margin-right: rem(28px);
  @media (max-width: $width-sm) {
    margin-right: rem(14px);
    width: rem(56px);
    padding-left: rem(5px);
    height: rem(53px);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  }

.slider__title {
  margin-bottom: rem(5px);

  font-weight: 700;
  font-size: rem(32px);

  @media (max-width: $width-md) {
    font-size: rem(36px);
  }

  @media (max-width: $width-sm) {
    font-size: rem(16px);
    line-height: 100%;
  }
  }

.slider__subtitle {
  font-size: rem(25px);
  line-height: rem(32px);

  @media (max-width: $width-md) {
    font-size: rem(18px);
    line-height: 100%;
    }

    @media (max-width: $width-sm) {
      font-size: rem(10px);
      line-height: 140%;
}
}

.slider__text {
@media (max-width: $width-sm) {
  font-size: rem(14px);
  line-height: 140%;
}
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.slider__dots button {
  padding: 0;
  margin: 0 rem(5px);
  width: rem(12px);
  height: rem(12px);
  display: block;
  align-items: center;

  font-size: 0;

  outline: none;
  border: none;
  border-radius: 50%;

  background-color: #c4c4c4;
}

.slider__dots .slick-active button {
  background-color: #76b220;
  // border: rem(2px) solid #cfbeaa;
}

.slider__wrapper {
  display: flex !important;
  justify-content: center;

  @media (max-width: $width-sm) {
    padding-bottom: rem(30px);
  }
}


//-- START slick
.slick-slide {
  margin: 0 rem(30px);
}

.slick-list {
  margin: 0 rem(-30px);
}

.slick-track {
  display: flex;
  overflow: hidden;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: flex;
  align-items: center;
  content: "";
  top: 46%;

  width: rem(44px);
  height: rem(44px);

  font-size: 0;
  border: none;
  background-color: transparent;
  stroke: #000000;

  border: rem(3px) solid #76B220;
  border-radius: 50%;

  // @media (max-width: $width-md) {}

  @media (max-width: $width-sm) {
    display: none;
  }
}

.slick-prev {
  justify-content: flex-start;
  padding-left: rem(9px);
  left: 9.5%;
}

.slick-next {
  justify-content: flex-end;
  padding-right: rem(9px);
  right: 9.5%;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #76B220;
  transition: ease-in-out 0.3s;

  svg {
    stroke: #ffffff;
  }
}
.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
  outline: none;
}

//-- END slick