.title {
  padding: 0;
  margin: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: rem(60px);
  line-height: rem(60px);

  @media(max-width: $width-sm) {
    font-size: rem(25px);
    line-height: 100%;
  }
}

.title span {
  color: #76b220;
}

.title--left {
  margin-bottom: rem(25px);

  @media(max-width: $width-sm) {
    padding-right: rem(16px);
    margin-bottom: rem(14px);
  }
}
