.footer {
  padding-top: rem(53px);
  padding-bottom: rem(62px);

  background-color: $bg-green;
@media(max-width: $width-sm) {
  padding-top: rem(5px);
  padding-bottom: rem(5px);
}
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  max-width: rem(1251px);
  @media(max-width: rem(1280px)) {
    margin-left: rem(15px);
    margin-right: rem(15px);
    max-width: none;
}
}

.footer__logo {
  padding: rem(10px);

  border-radius: rem(17px);
  background-color: #ffffff;
@media(max-width: $width-sm) {
  padding: rem(3px);
  width: rem(64px);
  height: rem(47px);
  border-radius: rem(5px);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
}

.footer__agreement {
  display: flex;
  flex-direction: column;

  color: #ffffff;
@media(max-width: $width-sm) {
  font-size: rem(14px);
  line-height: 140%;
}
}

.footer__agreement a:hover {
  color: #3a05fb;
  transition: ease-in-out 0.3s;
}