.header {
  position: relative;
  padding-top: rem(74px);

  max-width: 1913px;
  margin: 0 auto;
  margin-bottom: rem(33px);
  min-height: rem(850px);

   @media (max-width: $width-sm) {
    padding-top: rem(20px);
    padding-left: 0;
    margin-bottom: rem(216px);
    min-height: auto;
  }
@media (min-width: 507px) and (max-width: 576px) {
  margin-bottom: rem(230px);
   }
}

// .header::before,
.header::after {
  z-index: -1;
  position: absolute;
  content: "";
  background: url("../img/bg/bg-header@1x.png");
  background-position-y: 35%;
  top: 16%;
  left: 12%;
  min-height: rem(850px);
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
@media (max-width: rem(1440px)) {
    top: 17.6%;
    left: -1%;
  }
@media (max-width: $width-sm) {
  z-index: -1;
    min-height: rem(561px);
    width: rem(1042px);
    top: 13%;
    left: -55%;
    // background: url("../img/bg/bg-header-mobile@1x.png");
    background: url("../img/bg/bg-header-svg-all.svg");
  }
}

// .header::before {
//   background: url("../img/bg/bg-header@1x.png");
//   left: -86.5%;
//   top: -40%;
//   transform: rotate(180deg);
// }

.header__wrapper {
  display: flex;
}

.header__content {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;

  margin-right: rem(88px);

  @media (max-width: $width-sm) {
    flex-basis: 100%;

    margin-right: 0;
  }
}

.header__logo {
  margin-bottom: rem(60px);

  @media (max-width: $width-sm) {
    margin-bottom: rem(105px);
    margin-left: rem(-21px);
    width: rem(102px);
    height: rem(69px);

    transform: scale(0.57);
  }
}

.header__img {
  width: 100%;
  object-fit: contain;
  margin-right: rem(-217px);
@media (max-width: $width-sm) {
    display: none;
  }
}

.header__inner {
  padding-left: rem(110px);
@media (max-width: $width-sm) {
    padding-left: 0;
  }
}

.header__text {
  margin-bottom: rem(41px);
@media (max-width: $width-sm) {
    font-size: rem(14px);
    line-height: 140%;
    margin-bottom: rem(21px);
    text-shadow: 0 0 0.3em #ffffff;
  }
}