// START .advantage
.advantage {
  position: relative;
  margin-bottom: rem(106px);
}

.advantage::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg-advantage@1x.png") no-repeat;

  @media(max-width: $width-sm) {
    left: -100%;
    top: 43%;
    width: rem(1341px);
    height: rem(577px);
    background: url("../img/bg/bg-advantage-mobile@1x.png") no-repeat;
  }
}

.advantage__wrapper {
  z-index: 10;
  position: relative;
  padding-left: rem(60px);
  width: 75%;

  margin: 0 auto;
  @media(max-width: $width-sm) {
    width: 100%;
    padding-left: 0;
  }
}

.advantage__title {
  margin-bottom: rem(34px);
  width: 70%;

  @media(max-width: $width-sm) {
    padding-right: rem(30px);
    margin-bottom: rem(25px);
    width: 100%;
  }
}

.advantage__subtitle {
  margin-bottom: rem(35px);
  width: 47%;

  @media(max-width: $width-sm) {
    padding-right: rem(30px);
    width: 100%;
    font-size: rem(14px);
    line-height: 140%;
    margin-bottom: rem(21px);
  }
}

.advantage__list {
  margin-bottom: rem(45px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(29px);
  }
}

.advantage__item {
  display: flex;
  align-items: top;
  padding: rem(25px) 0 rem(22px) rem(26px);
  margin-bottom: rem(15px);

  background-color: #ffffff;
  border-radius: rem(49px);
  box-shadow: 0 rem(5.5px) rem(40px) rgba(0, 0, 0, 0.25);
  @media(max-width: $width-sm) {
    padding: rem(6px) 0 rem(5px) rem(5px);

    border-radius: rem(16.24px);
  }
}

.advantage__icon {
  padding: rem(20px);
  margin-right: rem(20px);

  border-radius: rem(39px);
  background-color: $bg-green;

  fill: #ffffff;
  @media(max-width: $width-sm) {
    padding: rem(10px);
    margin-right: rem(10px);
    width: rem(65px);
    height: rem(65px);

    border-radius: rem(13px);

    svg {
      width: rem(45px);
      height: rem(45px);
    }
  }
}

.advantage__point {
  margin-bottom: rem(10px);

  font-weight: 700;
  font-size: rem(32px);
  line-height: rem(32px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(8px);

    font-size: rem(16px);
    line-height: rem(21px);
  }
}

.advantage__text {
  @media(max-width: $width-sm) {
    font-size: rem(14px);
    line-height: 140%;
  }
}

.advantage__button {
  @media(max-width: $width-sm) {
    display: block;
    margin: 0 auto;
  }
}

// END .advantage
// START .opportunities
.opportunities {
  position: relative;
  margin-bottom: rem(374px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(91px);
  }
}

.opportunities::after {
  position: absolute;
  content: "";
  top: -94%;
  left: 5%;
  width: 100%;
  height: rem(1517px);
  background: url("../img/bg/bg-opportunities@1x.png") no-repeat;
  background-size: cover;

  @media(max-width: $width-sm) {
    height: rem(403px);
    width: rem(1475px);
    top: 150px;
    left: -147%;
    background: url("../img/bg/bg-opportunities-mobile@1x.png") no-repeat;
  }
}

.opportunities__wrapper {
  width: 57.5%;
  padding-right: 20%;

  @media(max-width: $width-sm) {
    width: 100%;
    padding-right: rem(15px);
  }
}

.opportunities__title {
  position: relative;
  z-index: 5;
  margin-bottom: rem(54px);
  width: 80%;

  @media(max-width: $width-sm) {
    margin-bottom: rem(21px);
  }
}

.opportunities__list {
  z-index: 5;
  position: relative;
  margin-bottom: rem(39px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(23px);
  }
}

.opportunities__list::after {
  position: absolute;
  content: "";
  top: rem(5px);
  left: 0;
  height: rem(288px);
  width: rem(28px);
  background-image: url("../img/icons/oppt@1x.png");
  @media(max-width: $width-sm) {

    background-image: url("../img/icons/oppt-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.opportunities__item {
  padding-left: rem(57px);
  margin-bottom: rem(19px);
  @media(max-width: $width-sm) {
    padding-left: rem(28px);
    margin-bottom: rem(9px);

    font-size: rem(14px);
    line-height: 140%;
  }
}

.opportunities__button {
  margin-left: rem(57px);
  @media(max-width: $width-sm) {
    display: block;
    margin: 0 auto;

    max-width: rem(196px);
  }
}

// END .opportunities
// START .description
.description {
  position: relative;
  @media(max-width: $width-sm) {
    font-size: rem(14px);
    line-height: 140%;
  }
}

.description::after {
  position: absolute;
  content: "";
  bottom: -115%;
  left: 10%;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg-description@1x.png") no-repeat;

  @media(max-width: $width-sm) {
    bottom: -80%;
    left: 1%;
    background: url("../img/bg/bg-description-mobile@1x.png") no-repeat;
  }
}

.description__wrapper {
  display: flex;

  margin-bottom: rem(256px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(74px);
  }
}

.description__img {
  position: absolute;
  top: rem(34px);
  left: rem(-230px);

  @media (max-width: 1775px) {
    left: rem(-330px);
  }

  @media (max-width: 1580px) {
    left: rem(-430px);
  }

  @media (max-width: 1380px) {
    left: rem(-530px);
  }

  @media (max-width: 1130px) {
    left: rem(-630px);
  }

  @media (max-width: 830px) {
    left: rem(-730px);
  }

  @media(max-width: $width-sm) {
    display: none;
  }
}

.description__description {
  margin-left: auto;
  width: 68%;

  @media(max-width: $width-sm) {
    width: 100%;
    text-align: center;
  }
}

.description__text {
  margin-bottom: rem(38px);

  @media(max-width: $width-sm) {
    margin-bottom: rem(30px);
  }
}

.description__button {
  width: rem(425px);

  @media(max-width: $width-sm) {
    display: none;
  }
}

.opportunities__button--mobile {
  display: none;

  @media(max-width: $width-sm) {
    display: block;
    margin: 0 auto;

    max-width: rem(196px);
  }
}

// END .description
// START .consumer
.consumer {
  position: relative;
}

.consumer::after {
  position: absolute;
  content: "";
  bottom: -98%;
  left: -17%;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg-consumer@1x.png") no-repeat;
@media(max-width: $width-sm) {
  bottom: -73%;
  left: -104%;
  width: rem(1245px);
  height: rem(533px);
  background: url("../img/bg/bg-consumer-mobile@1x.png") no-repeat;
}
}

.consumer__wrapper {
  display: flex;
  margin-bottom: rem(319px);
  max-width: rem(1061px);

  @media(max-width: $width-sm) {
    margin-bottom: rem(68px);
    max-width: none;
  }
}

.consumer__title {
  margin-bottom: rem(56px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(17px);
  }
}

.consumer__description {
  width: 68.8%;

  @media(max-width: $width-sm) {
    width: 100%;
  }
}

.consumer__img {
  margin-top: rem(-57px);
  width: 33.5%;

  @media(max-width: $width-sm) {
    display: none;
  }
}

// .consumer__list {
//   }

.consumer__item {
  position: relative;
  padding-left: rem(45px);
  margin-bottom: rem(19px);
@media(max-width: $width-sm) {
  padding-left: rem(16px);
  margin-bottom: rem(5px);
  font-size: rem(14px);
  line-height: 162%;
}
}

.consumer__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: rem(5px);
  width: rem(27px);
  height: rem(27px);
  background: url("../img/icons/tick.svg") no-repeat;
@media(max-width: $width-sm) {
  width: rem(13px);
  height: rem(13px);
  background: url("../img/icons/tick-mobile.svg") no-repeat;
}
}

// END .consumer
// START .tariffs
.tariffs {
  position: relative;
  margin-bottom: rem(353px);
@media(max-width: $width-sm) {
  margin-bottom: rem(5px);
  }
}

.tariffs::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 10%;
  left: 5%;
  width: 100%;
  height: rem(1478px);
  background: url("../img/bg/bg-tariffs@1x.png") no-repeat;
@media(max-width: $width-sm) {
  top: 16%;
  left: -80%;
  width: rem(1312px);
  height: rem(991px);
  background: url("../img/bg/bg-tariffs-mobile@1x.png") no-repeat;
}
}

.tariffs__wrapper {
  text-align: center;
}

.tariffs__title {
  margin: 0 auto;
  max-width: rem(675px);
  margin-bottom: rem(59px);

  font-family: $font-title;
  font-weight: 700;
  font-size: rem(60px);
  line-height: rem(60px);
@media(max-width: $width-sm) {
  margin-bottom: rem(25px);
  font-size: rem(25px);
  line-height: 100%;
}
}

.tariffs__subtitle {
  margin-bottom: rem(15px);
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(21px);
  text-align: center;
}

.tariffs__listing {
  box-shadow: 0 rem(5.5px) rem(40px) rgba(0, 0, 0, 0.25);
  border-radius: rem(51px);
@media(max-width: $width-sm) {
  display: none;
}
}

.tariffs__mobile {
  display: none;

  @media(max-width: $width-sm) {
    display: block;
  }
}

.tariffs__listing--mobile {
  display: none;

  @media(max-width: $width-sm) {
    display: block;

    box-shadow: 0 rem(2.2px) rem(16px) rgba(0, 0, 0, 0.25);
    border-radius: rem(10px);
  }
}

.tariffs__tables {
  @media(max-width: $width-sm) {
    margin-bottom: rem(19px);
    width: 100%;
  }
}

.tariffs__tables tbody {
  width: 100%;
  height: auto;

  font-weight: 700;

  border-radius: rem(51px);
  border: rem(10px) solid transparent !important;
@media(max-width: $width-sm) {
  font-size: 10px;
  line-height: 13px;
  border-radius: rem(10px);
  border: rem(2px) solid transparent !important;
}
}

.tariffs__normal {
  font-weight: 400;
}

.tariffs__tables tr,
.tariffs__tables td {
  background-color: #ffffff;
  border: rem(3px) solid #dbdbdb;
@media(max-width: $width-sm) {
  border: rem(1.2px) solid #dbdbdb;
}
}

.tariffs__tables td:first-child {
  padding-left: rem(50px);
  padding-right: rem(5px);
  text-align: left;
  vertical-align: middle;
  height: rem(90px);
  max-width: rem(477px);
@media(max-width: $width-sm) {
  padding: rem(5px) rem(5px) rem(5px) rem(21px);
  height: rem(36px);
  width: rem(190px);
}
}

.tariffs__tables td:not(:first-child) {
  width: rem(255px);
@media(max-width: $width-sm) {
  width: auto;
}
}

.tariffs__tables tr:first-child td {
  padding: 0 rem(34px);
  background-color: transparent;
  border-radius: rem(37px);
@media(max-width: $width-sm) {
  padding: 0 rem(21px);
}
}

.tariffs__tables tr:last-child td {
  height: rem(141px);
  background-color: transparent;
  border-radius: rem(37px);
@media(max-width: $width-sm) {
  height: auto;
  border-radius: rem(10px);
}
}

.tariffs__price {
  @media(max-width: $width-sm) {
    vertical-align: middle;
    text-align: center;
  }
}

.tariffs__no {
  display: inline-block;
  vertical-align: middle;
  width: rem(27px);
  height: rem(3px);

  background-color: #333333;
  border-radius: rem(2px);
}

.tariffs__yes {
  display: inline-block;
  vertical-align: middle;
  width: rem(37px);
  height: rem(37px);
  background: url("../img/icons/tick-table.svg") no-repeat 50% 50%;
@media(max-width: $width-sm) {
  width: rem(14.82px);
  height: rem(14.82px);
  background: url("../img/icons/tick-table-mobile.svg") no-repeat 50% 50%;
}
}

.tariffs__strikeout {
  font-size: rem(20px);
  font-weight: 400;
  line-height: rem(26px);
  text-decoration: line-through;
@media(max-width: $width-sm) {
  font-size: rem(8px);
  line-height: rem(10px);
}
}

.tariffs__now {
  @media(max-width: $width-sm) {
    font-size: rem(10px);
    line-height: rem(13px);
  }
}

.tariffs__note {
  font-size: rem(15px);
  font-weight: 400;
  line-height: rem(19.5px);
@media(max-width: $width-sm) {
  font-size: rem(6px);
  line-height: rem(8px);
}
}

.tariffs__button {
  padding: rem(8px) rem(25px);
  margin: 0 rem(35px);
@media(max-width: $width-sm) {
  margin-bottom: rem(59px);
}
}

// END .tariffs
// START .client
.client {
  position: relative;
  padding-left: rem(120px);
  margin-bottom: rem(257px);
@media(max-width: $width-sm) {
  padding-left: rem(15px);
  margin-bottom: rem(76px);
}
}

.client::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 35%;
  left: -10%;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg-client01@1x.png") no-repeat;
@media(max-width: $width-sm) {
  display: none;
}
}

.client::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 65%;
  left: 0;
  height: 100%;
  width: rem(2303px);
  background: url("../img/bg/bg-client02@1x.png") no-repeat;
@media(max-width: $width-sm) {
  top: 4%;
  left: -174%;
  height: rem(684px);
  width: rem(1395px);
  background: url("../img/bg/bg-client-mobile@1x.png") no-repeat;
}
}

.client__title {
  margin: 0 auto;
  margin-bottom: rem(90px);

  max-width: rem(1061px);
  text-align: center;
@media(max-width: $width-sm) {
  margin: 0 rem(-10px) rem(26px) rem(-10px);
}
}

.client__subtitle {
  position: relative;

  font-size: rem(36px);
  font-weight: 700;
@media(max-width: $width-sm) {
  font-size: (16px);
  line-height: (19.6px);
}
}

.client__subtitle--large {
  font-size: (48px);
  line-height: (70px);
  text-align: center;
@media(max-width: $width-sm) {
  font-size: (14px);
  line-height: (19.6px);
}
}

.client__subtitle span {
  position: absolute;
  top: rem(-75px);
  left: rem(-40px);

  color: rgba(118, 178, 32, 0.35);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: rem(144px);
@media(max-width: $width-sm) {
  top: rem(-10px);
  left: 42%;
  font-size: (48px);
  line-height: (19.6px);
}
}

.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: rem(5px);

  max-width: rem(1000px);
@media(max-width: $width-sm) {
  flex-direction: column;
}
}

.client__item {
  display: inline-block;
  vertical-align: middle;
  padding-right: rem(20px);
  margin-bottom: rem(48px);

  width: 44.5%;
@media(max-width: $width-sm) {
  padding-right: rem(32px);
  padding-left: rem(32px);
  margin-bottom: rem(20px);
  width: 100%;
  text-align: center;
}
}

.client__text {
  padding: 0 rem(80px);

  line-height: rem(44.35px);
  text-align: center;
@media(max-width: $width-sm) {
  padding: 0 rem(20px);

  font-size: (14px);
  line-height: (19.6px);
}
}

.client__subtext {
  @media(max-width: $width-sm) {
    font-size: (14px);
    line-height: (19.6px);
  }
}

// END .client
// START .subscribe
.subscribe {
  position: relative;
  margin-bottom: rem(174px);
@media(max-width: $width-sm) {
  margin-bottom: rem(36px);
}
}

.subscribe::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: -35%;
  left: -34%;
  height: rem(1367px);
  width: rem(3640px);
  background: url("../img/bg/bg-subscribe@1x.png") no-repeat;
@media(max-width: $width-sm) {
  top: -38%;
  left: -81%;
  height: rem(492px);
  width: rem(1077px);
  background: url("../img/bg/bg-subscribe-mobile@1x.png") no-repeat;
}
}

.subscribe__wrapper {
  text-align: center;
}

.subscribe__title {
  padding-left: rem(54px);
  margin-bottom: rem(27px);
@media(max-width: $width-sm) {
  padding-left: 0;
  margin-bottom: rem(21px);
  text-align: left;
}
}

// END .subscribe
// START .feedback

.feedback {
  margin: 0 auto;
  max-width: 70%;
  padding-left: rem(58px);
@media(max-width: $width-sm) {
  max-width: none;
  padding-left: 0;
}
}

.feedback__col {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.feedback__col--top {
  margin-bottom: rem(21px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(30px);
  }
}

.feedback__col--top label {
  margin-bottom: 0;
}

.feedback__radio {
  margin-bottom: 10px;
}

.feedback__radio input[type=radio] {
  display: none;
}

.feedback__col input {
  padding: rem(13px) rem(42px);

  border: rem(2px) solid #c6c6c6;
  border-radius: rem(28px);
  @media(max-width: $width-sm) {
    padding: rem(7px) rem(12px);

    border: rem(1px) solid #c6c6c6;
    border-radius: rem(14.5px);
  }
}

.feedback__col input::placeholder {
  color: #c6c6c6;
@media(max-width: $width-sm) {
  font-size: rem(14px);
}
}

.feedback__col input {
  margin-bottom: rem(17px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(9px);
    font-size: rem(16px);
    height: rem(33px);
  }
}

// .feedback__button
.feedback__col input[type=submit] {
  margin: 0 auto;
  margin-top: rem(15px);
  width: rem(416px);
@media(max-width: $width-sm) {
  padding: rem(5px) rem(5px) rem(5px) rem(5px);
  margin-top: 0;
  width: rem(161px);
}
}

.feedback__col input:focus,
.feedback__col input:active {
  outline: none;
}


.feedback__radio label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-left: rem(35px);
  margin-right: 0;
  user-select: none;
@media(max-width: $width-sm) {
  font-size: rem(16px);
  font-weight: 700;
  line-height: 140%;
  padding-left: rem(31px);
}
}

.feedback__radio label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: rem(25px);
  height: rem(25px);
  position: absolute;
  left: 0;
  bottom: rem(1px);
  border: rem(2px) solid #c6c6c6;
  border-radius: rem(10px);
  @media(max-width: $width-sm) {
    top: 0;
  }
}

.feedback__radio input[type=radio]:checked+label::before {
  background-color: #9b9898;
}
// END .feedback
// START .review
.review {
  position: relative;
  margin: 0 auto;
  margin-bottom: rem(42px);
  @media(max-width: $width-sm) {
    margin-bottom: rem(18px);
  }
}

.review__title {
  padding-right: 10%;
  margin: 0 auto;
  margin-bottom: rem(-8px);
  max-width: rem(811px);

  text-align: left;
@media(max-width: $width-sm) {
  margin-bottom: rem(25px);
}
}

.review__button {
  display: block;
  margin: 0 auto;

  min-width: rem(388px);
@media(max-width: $width-sm) {
  width: rem(196px);
  min-width: auto;
}
}

// END .review